{
  "env": {
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [0]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  }
}
