.splashtitle {
  font-weight: 400;
  font-size: 45px;
  font-color: black;
  letter-spacing: 15px;
}

.splashsubtitle {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.splashpara {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
