{
  "extends": "airbnb",
  "rules": {
    "no-console": [0],
    "no-underscore-dangle": [0],
    "react/jsx-filename-extension": [0]
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
